.sign-up.MuiGrid-root.MuiGrid-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  /* overflow-y: hidden;
    overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.sign-up > .MuiGrid-item:first-child {
  flex: 1;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 4em;
  /* background-color: red; */
}
